/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

.ngg-galleryoverview .ngg-gallery-thumbnail img {
    background-color: #FFFFFF;
    border: none;
    display: block;
    margin: 0 7px 0 0;
    position: relative;
}

.ngg-galleryoverview .ngg-gallery-thumbnail-box {
    margin-right: 0;
}

.ngg-galleryoverview .ngg-gallery-thumbnail span {
    padding-left: 0;
}

/* ----------- Gallery style -------------*/

.ngg-galleryoverview {
    overflow: hidden;
    margin-top: 10px;
    width: 100%;
    clear: both;
    display: block !important;
}

.ngg-galleryoverview .desc {
    /* required for description */
    margin: 0px 10px 10px 0px;
    padding: 5px;
}

.ngg-galleryoverview .ngg-gallery-thumbnail-box {
    float: left;
    margin-right: 0;
}

.ngg-galleryoverview .ngg-gallery-thumbnail {
    float: left;
    text-align: center;
}

.ngg-galleryoverview .ngg-gallery-thumbnail img {
    background-color: #FFFFFF;
    border: none;
    display: block;
    margin: 0 7px 0 0;
    position: relative;
}

.ngg-galleryoverview .ngg-gallery-thumbnail img:hover {
    background-color: #A9A9A9;
}

.ngg-galleryoverview .ngg-gallery-thumbnail span {
    /* Images description */
    font-size: 90%;
    padding-left: 0;
    display: block;
}

.widget.PI_SimpleTwitterTweets ul li {
  width: auto;
  border-bottom: 1px solid #999999;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.twitter-follow-container {
  float: right;
}