/**
 * bbPress specific CSS
 *
 * @package bbPress
 * @subpackage Theme
 */

/* =bbPress Style
-------------------------------------------------------------- */

#bbpress-forums hr {
	margin: 0 0 24px 0;
}

#bbpress-forums {
	background: transparent;
	clear: both;
	margin-bottom: 20px;
	overflow: hidden;
	font-size: 12px;
}

#bbpress-forums div.even,
#bbpress-forums ul.even {

}

#bbpress-forums div.odd,
#bbpress-forums ul.odd {

}

#bbpress-forums div.bbp-topic-header,
#bbpress-forums div.bbp-reply-header {

}

#bbpress-forums .status-trash.even,
#bbpress-forums .status-spam.even {

}
#bbpress-forums .status-trash.odd,
#bbpress-forums .status-spam.odd {

}

#bbpress-forums .status-closed,
#bbpress-forums .status-closed a {

}

#bbpress-forums ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#bbpress-forums li {
	list-style: none;
}

#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies {
	font-size: 12px;
	overflow: hidden;
	border-width: 1px;
	border-style:solid;
	margin-bottom: 20px;
	clear: both;
}

#bbpress-forums ul.bbp-replies, #bbpress-forums ul.bbp-replies .bbp-reply-author, #top #bbpress-forums ul.bbp-replies .bbp-reply-content{border:none;}
#bbpress-forums .bbp-footer div{display:none; }

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-body,
#bbpress-forums li.bbp-footer {
	clear: both;
}

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {
	border-top-width: 1px;
	border-top-style:solid;
	font-weight: bold;
	padding: 8px;
	text-align: center;
}

#bbpress-forums li.bbp-header {

}

#bbpress-forums li.bbp-header ul {
	overflow: hidden;
}

#bbpress-forums .bbp-forums-list {
	margin: 0 0 0 5px;
	padding-left: 15px;
	border-left-width: 1px;
	border-left-style:solid;
}

#bbpress-forums .bbp-forums-list li {
	display: inline;
	font-size: 11px;
}

#bbpress-forums li.bbp-footer p {
	margin: 0;
	line-height: 1em;
}

#bbpress-forums .bbp-topic-content img,
#bbpress-forums .bbp-reply-content img {
	max-width: 100%;
}

#bbpress-forums .bbp-topic-content ul,
#bbpress-forums .bbp-reply-content ul {
	padding-left: 15px;
}

#bbpress-forums .bbp-topic-content ul li,
#bbpress-forums .bbp-reply-content ul li {
	list-style: square;
}

#bbpress-forums .bbp-forum-content p {
	margin: 5px 0 0;
	font-style: italic;
}

li.bbp-forum-info,
li.bbp-topic-title {
	float: left;
	text-align: left;
	width: 55%;
}
li.bbp-forum-topic-count,
li.bbp-topic-voice-count,
li.bbp-forum-reply-count,
li.bbp-topic-reply-count{
	float: left;
	text-align: center;
	width: 10%;
}

li.bbp-forum-freshness,
li.bbp-topic-freshness{
	text-align: center;
	float: left;
	width: 22%;
}

#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {
	border-top-width: 1px;
	border-top-style:solid;
	overflow: hidden;
	padding: 8px;
}

li.bbp-header div.bbp-topic-content span#subscription-toggle,
li.bbp-header div.bbp-topic-content span#favorite-toggle,
li.bbp-header div.bbp-reply-content span#subscription-toggle,
li.bbp-header div.bbp-reply-content span#favorite-toggle {
	float: right;
}

#bbpress-forums div.bbp-topic-author,
#bbpress-forums div.bbp-reply-author {
	float: left;
	text-align: center;
	width: 115px;
}

#bbpress-forums div.bbp-topic-author img.avatar,
#bbpress-forums div.bbp-reply-author img.avatar {
	border: 0;
	max-width: 80px;
	margin: 12px auto 0 auto;
	float: none;
}

#bbpress-forums div.bbp-topic-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-author a.bbp-author-name {
	margin: 0 12px;
	word-break: break-word;
}

#bbpress-forums div.bbp-topic-author .bbp-author-role,
#bbpress-forums div.bbp-reply-author .bbp-author-role {
	font-size: 11px;
	font-style: italic;
}

#bbpress-forums div.bbp-topic-content,
#bbpress-forums div.bbp-reply-content {
	margin-left: 140px;
	padding: 12px 12px 12px 0;
	text-align: left;
}

#bbpress-forums li.bbp-header .bbp-topic-author,
#bbpress-forums li.bbp-footer .bbp-topic-author,
#bbpress-forums li.bbp-header .bbp-reply-author,
#bbpress-forums li.bbp-footer .bbp-reply-author {
	float: left;
	margin: 0;
	padding: 0;
	width: 120px;
}

#bbpress-forums li.bbp-header .bbp-topic-content,
#bbpress-forums li.bbp-footer .bbp-topic-content,
#bbpress-forums li.bbp-header .bbp-reply-content,
#bbpress-forums li.bbp-footer .bbp-reply-content {
	margin-left: 140px;
	padding: 0;
	text-align: left;
}

div.bbp-topic-header,
div.bbp-reply-header,
li.bbp-body div.hentry {
	margin-bottom: 0;
	overflow: hidden;
	padding: 8px;
}

div.bbp-topic-header,
div.bbp-reply-header {
	border-top-width: 1px;
	border-top-style:solid;
	clear: both;
}

span.bbp-author-ip {
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-size: 11px;
	font-weight: bold;
}

/* =Breadcrumb and Tags
-------------------------------------------------------------- */

div.bbp-breadcrumb {
	float: left;
}

div.bbp-breadcrumb,
div.bbp-topic-tags {
	font-size: 12px;
}

#bbpress-forums div.bbp-breadcrumb p,
#bbpress-forums div.bbp-topic-tags p {
	margin-bottom: 10px
}

div.bbp-topic-tags {
	float: right;
}

/* =Admin Links
-------------------------------------------------------------- */

span.bbp-admin-links {
	float: right;
}
span.bbp-admin-links a {
	font-weight: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-decoration: none;
}
fieldset span.bbp-admin-links {
	float: left;
}
tr td span.bbp-admin-links a:hover {
}

td.bbp-topic-admin-links,
td.bbp-topic-counts {
	width: 50%;
}

.bbp-topic-header a.bbp-topic-permalink,
.bbp-reply-header a.bbp-reply-permalink {
	float: right;
	margin-left: 10px;
}

/* =Toggles
-------------------------------------------------------------- */

.bbp-topic-action #favorite-toggle a {
	text-decoration: none;
	padding: 0 3px 1px;
	border-width: 1px;
	border-style:solid;
	font-weight: bold;
	font-size: 13px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	}
	.bbp-topic-action #favorite-toggle a:hover {
		/*
		color: #5a5;
		border-color: #7c7;
		background-color: #beb;
		*/
	}
	.bbp-topic-action #favorite-toggle span.is-favorite a {
		/*
		color: #faa;
		border: 1px solid #faa;
		background-color: #fee;
		*/
		
		border-width: 1px;
		border-style:solid;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		}
		.bbp-topic-action #favorite-toggle span.is-favorite a:hover {
			/*
			color: #c88;
			border-color: #c88;
			background-color: #fdd;
			*/
		}

.bbp-topic-action #subscription-toggle a {
	text-decoration: none;
	padding: 0 3px 1px;
	border-width: 1px;
	border-style:solid;
	font-weight: bold;
	font-size: 13px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	}
	.bbp-topic-action #subscription-toggle a:hover {
		/*
color: #5a5;
		border-color: #7c7;
		background-color: #beb;
*/
	}
	.bbp-topic-action #subscription-toggle span.is-subscribed a {
		/*
color: #faa;
		border: 1px solid #faa;
		background-color: #fee;
*/	border-width: 1px;
	border-style:solid;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		}
		.bbp-topic-action #subscription-toggle span.is-subscribed a:hover {
			/*
color: #c88;
			border-color: #c88;
			background-color: #fdd;
*/
	border-width: 1px;
	border-style:solid;
		}

#bbpress-forums p.bbp-topic-meta {
	margin: 5px 0 5px;
	font-size: 11px;
}

#bbpress-forums p.bbp-topic-meta span {
	white-space: nowrap;
}

/* =Pagination
-------------------------------------------------------------- */

.bbp-pagination-count {
	float: left;
}
.bbp-pagination-links {
	float: right;
}
.bbp-pagination {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}

.bbp-topic-pagination {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 2px;
	}
	.bbp-topic-pagination a {
		font-size: 10px;
		line-height: 10px;
		padding: 1px 3px;
			border-width: 1px;
	border-style:solid;
		text-decoration: none;
	}

/* =Forms
-------------------------------------------------------------- */

#bbpress-forums fieldset.bbp-form {
	clear: left;
}

#bbpress-forums fieldset.bbp-form {
		border-width: 1px;
	border-style:solid;
	padding: 10px 20px;
	margin-bottom: 10px;
}

#bbpress-forums fieldset.bbp-form legend {
	padding: 5px;
}

#bbpress-forums fieldset.bbp-form label {
	margin: 0;
	display: inline-block;
}

#bbp-edit-topic-tag.bbp-form fieldset.bbp-form label,
#bbp-login fieldset label,
#bbp-register fieldset label,
#bbp-lost-pass fieldset label {
	width: 100px;
}

#bbpress-forums fieldset.bbp-form p,
#bbpress-forums fieldset.bbp-form textarea,
#bbpress-forums fieldset.bbp-form select,
#bbpress-forums fieldset.bbp-form input {
	margin: 0 0 8px;
}

textarea#bbp_reply_content,
textarea#bbp_topic_content,
textarea#bbp_forum_content {
	width: 97%;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

textarea#bbp_forum_content {
	height: 210px;
}

#bbpress-forums fieldset.bbp-forum-form-attributes {
	width: 200px;
	float: right;
	clear: none;
	margin-left: 25px;
}

.bbp-topic-form,
.bbp-reply-form,
.bbp-topic-tag-form {
	clear: left;
}
body.topic-edit .bbp-topic-form div.avatar img,
body.reply-edit .bbp-reply-form div.avatar img,
body.single-forum .bbp-topic-form div.avatar img,
body.single-reply .bbp-reply-form div.avatar img {
	margin-right: 0;
	padding: 10px;
		border-width: 1px;
	border-style:solid;
	line-height: 0;
}

body.page .bbp-reply-form code,
body.page .bbp-topic-form code,
body.single-topic .bbp-reply-form code,
body.single-forum .bbp-topic-form code,
body.topic-edit .bbp-topic-form code,
body.reply-edit .bbp-reply-form code {
	font-size: 10px;
		border-width: 1px;
	border-style:solid;
	display: block;
	padding: 8px;
	margin-top: 5px;
	width: 369px;
}

#merge_tag,
#delete_tag {
	display: inline;
}

div.bbp-submit-wrapper {
	margin-top: 15px;
	float: right;
	clear: both;
}

p.form-allowed-tags {
	width: 462px;
}

/* =TinyMCE in themes
-------------------------------------------------------------- */
#bbpress-forums div.bbp-the-content-wrapper {
	margin-bottom: 10px;
}

#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
	width: 100%;
	margin: 0;
	font-size: 12px;
}

#bbpress-forums div.bbp-the-content-wrapper table,
#bbpress-forums div.bbp-the-content-wrapper tbody,
#bbpress-forums div.bbp-the-content-wrapper tr,
#bbpress-forums div.bbp-the-content-wrapper td {
	border: none;
	padding: 0;
	margin: 0;
	width: auto;
	line-height: 1em;
}

#bbpress-forums div.bbp-the-content-wrapper input {
	font-size: 12px;
	padding: 5px;
	margin: 3px 0 0;
	line-height: 1em;
	margin: 0;
}

#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar {
	padding: 5px;
	min-height: 26px;
}
#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar {
	padding: 4px 4px 8px;
}

#bbpress-forums div.wp-editor-container {
	margin: 0;
	padding: 0;
	line-height: 0;
}

#bbpress-forums div.bbp-the-content-wrapper td.mceStatusbar {
	line-height: 16px;
}

/* =Edit User
-------------------------------------------------------------- */
#bbp-your-profile{
padding-top:20px;
}

#bbp-your-profile h2{font-size:20px; margin-bottom:0;}

#bbp-your-profile fieldset {
	margin-top: 3px;
	padding: 20px 20px 0 20px;
}
	#bbp-your-profile fieldset div {
		margin-bottom: 20px;
		float: left;
		width: 100%;
		clear: left;
	}
	#bbp-your-profile fieldset select {
		margin-bottom: 0;
	}
	#bbp-your-profile fieldset input,
	#bbp-your-profile fieldset textarea,
	#bbp-your-profile fieldset select {
		margin-bottom: 0;
		width: 50%;
		min-width:0;
	}
	#bbp-your-profile fieldset select{
	width:51.5%;
	}
	
	#bbp-your-profile fieldset legend {
		display: none;
	}
	.content #bbp-your-profile fieldset label,
	#container #bbp-your-profile fieldset label {
		float: left;
		width: 150px;
		padding-right: 20px;
		text-align: right;
	}
	#bbp-your-profile fieldset span.description {
		margin: 5px 0 0 170px;
		font-size: 12px;
		font-style: italic;
		float: left;
		clear: left;
		width: 48.5%;
		padding: 5px 10px;
			border-width: 1px;
	border-style: solid;
		border-style: solid;
	}

	.content #bbp-your-profile fieldset fieldset,
	#container #bbp-your-profile fieldset fieldset {
		margin: 0;
		border: none;
		padding: 0;
		clear: none;
		overflow: hidden;
		float:none;
		width: auto;
	}
	
	.content #bbp-your-profile fieldset fieldset input{
	width: 68%;
	}
	
	.content #bbp-your-profile fieldset  fieldset span.description {
	width:65.5%;
	}
	
	
	#bbp-your-profile fieldset fieldset span.description {
		margin-left: 0;
		margin-bottom: 20px;
	}

	#bbp-your-profile fieldset.submit button {
		float: right;
	}

/* =Notices
-------------------------------------------------------------- */

div.bbp-template-notice {
	border-width: 1px;
	border-style: solid;
	padding: 0 0.6em;
	margin: 5px 0 15px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #ffffe0;
	border-color: #e6db55;
	color: #000;
	clear: both;
}
div.bbp-template-notice a {
	color: #555;
	text-decoration: none;
}
	div.bbp-template-notice a:hover {
		color: #000;
	}
	div.bbp-template-notice.info {
		border: #cee1ef 1px solid;
		background-color: #f0f8ff;
	}
	div.bbp-template-notice.important {
		border: #e6db55 1px solid;
		background-color: #fffbcc;
	}
	div.bbp-template-notice.error,
	div.bbp-template-notice.warning {
		background-color: #ffebe8;
		border-color: #c00;
	}
	div.bbp-template-notice.error a,
	div.bbp-template-notice.warning a {
		color: #c00;
	}
	div.bbp-template-notice p {
		margin: 0.5em 0 6px 0 !important;
		padding: 2px;
		font-size: 12px;
		line-height: 140%;
	}

/* =Stickies
-------------------------------------------------------------- */

.bbp-topics-front ul.super-sticky,
.bbp-topics ul.super-sticky,
.bbp-topics ul.sticky,
.bbp-forum-content ul.sticky {
	background-color: #ffffe0 !important;
	font-size: 1.1em;
}

/* =Revisions
-------------------------------------------------------------- */
#bbpress-forums .bbp-topic-revision-log,
#bbpress-forums .bbp-reply-revision-log {
	border-top: 1px dotted #ddd;
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 8px 0 0 0;
	font-size: 11px;
	color: #aaa;
}

/* =Widgets
-------------------------------------------------------------- */

.bbp-login-form fieldset legend {
	display: none;
}

.bbp-login-form .bbp-username input,
.bbp-login-form .bbp-email input,
.bbp-login-form .bbp-password input {
	padding: 5px;
}

.bbp-login-form label {
	width: 140px;
	display: inline-block;
}

#sidebar .bbp-login-form label {
	width: 70px;
}

.bbp-login-form .bbp-username,
.bbp-login-form .bbp-email,
.bbp-login-form .bbp-password,
.bbp-login-form .bbp-remember-me,
.bbp-login-form .bbp-submit-wrapper {
	margin-top: 10px;
}

.bbp-login-form .bbp-remember-me {

}

.bbp-login-form .bbp-submit-wrapper {
	text-align: right;
}

.bbp-login-form .bbp-login-links {
}

.bbp-login-form .bbp-login-links a {
	float: left;
	clear: left;
}

.bbp-logged-in img.avatar {
	float: left;
	margin-right: 15px;
}

.bbp-logged-in h4 {
	font-weight: bold;
	font-size: 1.3em;
	clear: none;
	margin-bottom: 10px;
}

/* =Avatars
-------------------------------------------------------------- */

#bbpress-forums p.bbp-topic-meta img.avatar,
#bbpress-forums ul.bbp-reply-revision-log img.avatar,
#bbpress-forums ul.bbp-topic-revision-log img.avatar,
#bbpress-forums div.bbp-template-notice img.avatar,
#bbpress-forums .widget_display_topics img.avatar,
#bbpress-forums .widget_display_replies img.avatar,
#bbpress-forums p.bbp-topic-meta img.avatar {
	float: none;
	margin-bottom: -7px;
		border-width: 1px;
	border-style:solid;
}

fieldset div.avatar {
	float: right;
}

/* =BuddyPress Activity Streams
-------------------------------------------------------------- */

.activity-list li.bbp_topic_create .activity-content .activity-inner,
.activity-list li.bbp_reply_create .activity-content .activity-inner {
	border-left-width: 2px;
	border-left-style:solid;
	margin-left: 5px;
	padding-left: 10px;
}

/* =User Pages
-------------------------------------------------------------- */

#bbpress-forums h1 {
	clear: none;
	font-size: 1.8em;
	line-height: 1em;
	padding-bottom: 10px;
}

#bbpress-forums h2.entry-title {
	font-size: 1.4em;
	margin-bottom: 0;
	padding-bottom: 10px;
	padding-top: 0;
}

#bbpress-forums #entry-author-info {
	margin: 10px 0 20px 0;
	overflow: hidden;
}

#bbpress-forums #entry-author-info #author-avatar {
	float: left;
	margin-right: 0;
	width: 60px;
}

#bbpress-forums #entry-author-info #author-avatar img.avatar {
	max-width: 60px;
}

#bbpress-forums #entry-author-info #author-description {
	float: none;
	margin-left: 100px;
}

#bbp-author-subscriptions,
#bbp-author-favorites,
#bbp-author-topics-started {
	border-top-width: 1px;
	border-top-style:solid;
	clear: both;
	margin-bottom: 20px;
	padding-top: 20px;
}

body.my-account #bbpress-forums,
body.my-account #bbp-author-subscriptions,
body.my-account #bbp-author-favorites,
body.my-account #bbp-author-topics-started {
	border-top: none;
	padding-top: 0;
	margin-bottom: 0;
}

/* =BuddyPress Group Forums
-------------------------------------------------------------- */

#bbpress-forums div.row-actions {
	font-size: 11px;
	visibility: hidden;
}

#bbpress-forums li:hover > div.row-actions {
	visibility: visible;
}


/* =theme stuff
-------------------------------------------------------------- */

.bbp-topic-started-by img{
display:none;
}

#top table .bbp-forum-title, #top table .bbp-topic-title a {
font-weight:bold;
}

.edit_user_link, .page-title.author{
display:none;
}

.logged-in .edit_user_link, .logged-in .page-title.author{
display:inline;
}



#top #bbp_stick_topic{
width:221px;
min-width:221px;
}

#top .bbp-admin-links a{
font-size:10px;
}


#top #main .bbp-template-notice p{
margin:10px 0;
}

#top #main .bbp-template-notice{
padding:2px 0 2px 36px;	
}

#top #main .bbp-template-notice, #top #main .bbp-template-notice a
{	
	border:1px solid #4b87d0; color:#fff;		
	background: #a6bfde url("../images/icons/info.png") no-repeat 10px center; 	
	
}

#top #main .bbp-template-notice.error, #top #main .bbp-template-notice.error a
{	
	border:1px solid #941210; color:#941210;		
	background: #f0dcdb url("../images/icons/error.png") no-repeat 10px center; 	
}

#top #main .bbp-template-notice.error, #top #main .bbp-template-notice.error a
{	
	border:1px solid #E6DB55; color:#9d5501;		
	background: #FFFFE0 url("../images/icons/alert.png") no-repeat 10px center; 	
}



#top .avia-box.tick 		{	border-color:#8BAF5B; background: #E0F1B5; color:#4F5F39;	}

td.bbp-topic-title{
padding-right:50px;
background-position: 95% center; 
background-repeat: no-repeat;
}

.sticky td.bbp-topic-title{ 		background-image: url("images/sticky.png"); }
.super-sticky td.bbp-topic-title{ 	background-image: url("images/super-sticky.png"); }
.status-closed td.bbp-topic-title{ 	background-image: url("images/closed.png"); }


/*2.1 changes*/

#bbpress-forums li{margin-left:0px; padding-left:0;}

div #bbpress-forums li.bbp-header{ border:none; margin-left:0;}

#bbpress-forums li.bbp-header ul li{margin-bottom:0; font-weight: bold;}

.bbp-forum-freshness, .bbp-topic-freshness{display:none;}
.bbp-forum-info, .bbp-topic-title, #bbpress-forums p.bbp-topic-meta {margin:0px;}



.bbp-forum-title, .bbp-topic-permalink, .bbp-author-name{font-weight: bold;}
#bbpress-forums li.bbp-body{padding:0;}

#bbpress-forums li.bbp-header, #bbpress-forums li.bbp-footer {
padding: 4px 12px;
min-height: 10px;
}

#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {
padding: 6px 12px;
}

li.bbp-forum-info, li.bbp-topic-title {
width: 78%;
}

.bbp-meta{
font-size: 11px;
}

.bbp-pagination-count {
float: right;
font-size: 11px;
border: none;
display: block;
padding-left: 5px;
}

.bbp-reply-header{
	border-bottom-width: 1px;
	border-bottom-style:solid;
}

.bbp-body .bbp-reply-author{
	border-right-width: 1px;
	border-right-style:solid;
	padding:8px;
}

li.bbp-body div.hentry {
padding: 0px;
}

#bbpress-forums .bbp-body div.bbp-topic-content, #bbpress-forums .bbp-body div.bbp-reply-content {
padding: 12px 11px 12px 12px;
text-align: left;
overflow: hidden;
border-left-width: 1px;
border-left-style:solid;
left: -1px;
position: relative;
margin-left:0;
margin-right:0;
}

#bbpress-forums div.bbp-topic-author, #bbpress-forums div.bbp-reply-author {
width: auto;
}

#bbpress-forums div.bbp-topic-author img.avatar, #bbpress-forums div.bbp-reply-author img.avatar {
max-width: 48px;
}

.bbp-reply-content li, .bbp-reply-content ol{
margin-bottom:0;
}

#bbpress-forums fieldset.bbp-form {
padding: 10px 5% 10px 4.5%;
width: 90%;
}

#bbpress-forums li.bbp-header .bbp-topic-author, #bbpress-forums li.bbp-footer .bbp-topic-author, #bbpress-forums li.bbp-header .bbp-reply-author, #bbpress-forums li.bbp-footer .bbp-reply-author {
width: 67px;
}

#bbpress-forums li.bbp-header .bbp-topic-content, #bbpress-forums li.bbp-footer .bbp-topic-content, #bbpress-forums li.bbp-header .bbp-reply-content, #bbpress-forums li.bbp-footer .bbp-reply-content {
margin-left: 90px;
}

.bbp-reply-content blockquote p{
margin: 0.5em 0;
}


.bbp-topic-action #favorite-toggle span.is-favorite a, .bbp-topic-action #subscription-toggle span.is-subscribed a {
border-top-width: 1px;
border-width: 1px;
border-style: solid;
-moz-border-radius: 0;
-webkit-border-radius: 0;
border-radius:0;
padding: 0;
line-height: 19px;
height: 20px;
width: 20px;
display: block;
float: left;
text-align: center;
position: absolute;
right: -1px;
top: -1px;
}

.bbp-body ul{
position: relative;
}

.bbp-forum-title, .bbp-topic-permalink{text-decoration: none;}

/*added with bbpress 2.2.3*/

#bbp-single-user-details{
border-style:solid;
border-width:1px;
padding:10px 0;
margin-bottom:30px;
}

#bbp-single-user-details #bbp-user-avatar{
float:left;
margin: 0 10px;
width:32px;
}

#bbp-single-user-details #bbp-user-navigation{
overflow:hidden;
margin: 0 10px;
}

#bbp-single-user-details #bbp-user-navigation li{
float:left;
margin:0px 5px;
line-height: 27px;
}


/* #Media Queries
================================================== */

	/*mobile*/
	@media only screen and (max-width: 767px) {
	
		li.bbp-forum-info, li.bbp-topic-title {
		width: 60%;
		}
		
		li.bbp-forum-topic-count, li.bbp-topic-voice-count, li.bbp-forum-reply-count, li.bbp-topic-reply-count {
		width: 18%;
		}
		
		.bbp-header #subscription-toggle, .bbp-header #favorite-toggle{display:none;}
		
		#top #bbp-your-profile .bbp-form label{
		float:none;
		text-align: left;
		}
		
		#bbp-your-profile fieldset input, #bbp-your-profile fieldset textarea, #bbp-your-profile fieldset select {
		width: 95%;
		}
		
		#bbp-your-profile fieldset span.description, .content #bbp-your-profile fieldset fieldset span.description {
		width: 91%;
		margin:5px 0 15px 0;
		}
	
		
		.content #bbp-your-profile fieldset fieldset input {
		width: 95%%;
		}
	}

