.avia_wpml_language_switch {
position: absolute;
padding: 0px;
height: 30px;
line-height: 36px;
margin: 5px 0 0 0;
z-index: 151;
-webkit-backface-visibility: hidden;
top:0px;
right:0;
}

.avia_wpml_language_switch li{
float:left;
margin: 0px 0px 0px 10px;
}

.avia_wpml_language_switch li:hover{
opacity: 0.8;
}

.avia_wpml_language_switch li span{
display:none;
}

.avia_wpml_language_switch li .language_flag{
display:block;
}

.avia_wpml_language_switch li .language_flag img{
display:inline-block;
border:1px solid rgba(255,255,255,0.2);
}

/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	
		.responsive .avia_wpml_language_switch {
			position: relative;
			right:auto;
			text-align: center;
			top:-10px;
			}
			
		.responsive .avia_wpml_language_switch li{
			float:none;
			
			display: inline-block;
		}
	}
	
	
	
#icl_lang_sel_widget{
overflow:visible;
z-index:20;
}